/* You can add global styles to this file, and also import other style files */
body{
    background:#f1f1f1;
}
.controls-section{
    margin-top:60px;
    margin-bottom:60px;

}
.roundbtn{
    border:none;
    color:white;
    display:inline-block;
    vertical-align:top;
    width:40px;
    height:40px;

    padding: 8px 11px;
    text-shadow: 2px 2px 2px rgba(30,30,30, 0.5);
    box-shadow: 1px 1px 1px rgba(30,30,30, 0.3);
    cursor: pointer;
}

button.very-rounded{
    border:none;
    color:white;
    height:40px;
    cursor: pointer;
    padding:0px 12px;
    text-shadow: 2px 2px 2px rgba(30,30,30, 0.5);
    box-shadow: 1px 1px 1px rgba(30,30,30, 0.3);

}
button.very-rounded:disabled{
    background-color:#cacaca;
}


.roundbtn:focus,.roundbtn:active {
   outline: none !important;
}

.roundbtn:hover{
    color:white;
    text-shadow: 2px 2px 5px rgba(30,30,30, 0.9);
    box-shadow: 2px 2px 2px rgba(130,130,130, 0.3);

}

.roundbtn-small{
    width:32px;
    height:32px;
    padding: 4px 10px;
}

.roundbtn .octicon{
    font-size: 23px;
}

.roundbtn-small .octicon{
    font-size:16px;
}


.roundbtn.search{
    padding:10px 9px;
    position: relative;
    left: 20px;
}

.kindared{
    color:#f24c3d;
}
.kindared-bg{
    background-color:#f24c3d;
}
.kindagreen{
    color:#64bf7c!important;
}
.kindagreen-bg{
    background-color:#64bf7c;
}

.searchinput{
    display: inline-block;
    width: 60%;
    padding: 9px 23px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    vertical-align:top;
    box-shadow: 1px 1px 1px rgba(30,30,30, 0.1);
}

.very-rounded{
    border-radius:40px;
    box-shadow: 1px 1px 1px rgba(30,30,30, 0.1);
}
.very-rounded:focus,.very-rounded:active {
    border-color:#aaaaaa;
}

.very-rounded.ng-touched.ng-invalid{
    color:red;
}

input.very-rounded:disabled{
    background:#575761;
    color:white;
}

select.very-rounded{
    -webkit-appearance:none;
    min-width:60px;
}
.select-wrapper{
    position:relative;
}
.select-wrapper::after{
    font:normal normal normal 16px/1 Octicons;
    content:"\f0a3";
    position: absolute;
    right:8px;
    top:12px;
    color:#666666;
    display:block;
}

.table {
    background:white;
    margin-bottom:0;
}
.thead-dark{
    color:white;
    background:#575761;
}

section.table-section{
    box-shadow: 3px 3px 3px rgba(130,130,130, 0.3);
    margin-bottom:40px;
}

section.pages-section{
    margin-bottom:60px;
}

.pages-section .kindagreen-bg{
    color:white;
}

.pages-section .navbtn{
    color:#cacaca;
    background-color:white;
}

.pages-section .roundbtn{
    margin:10px;
    text-shadow:none;
}

.pages-section button.roundbtn:disabled{
    color:white;
    background-color:#cacaca;
}

.octicon-chevron-left ,.octicon-chevron-right{
    margin-left:2px;
}

.form-section label{
    margin-left:10px;
    font-weight:bold;
    font-size:14px;
}
.form-section label.required::before{
    content:"*";
    color:red;
}
.form-section .error-message{
    color:red;
    margin-top:35px;
}

.subscribe-course{
    margin-top:30px;
    text-align:right;
}
.course-list-item{
    border-bottom:1px solid #cacaca;
    margin:5px 0px;
    padding:5px 0px;
    font-weight:bold;
    font-size:14px;
}
