    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
        
      <a class="navbar-brand" href="#">Test Task</a>
        <ul class="navbar-nav ml-auto ">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/people" >Users</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/courses" >Courses</a>
          </li>
        </ul>
      </div>
    </nav>




<div class="container">

  <router-outlet></router-outlet>
</div>
