<div *ngIf="person">
      <h2>{{person.name}} details!</h2>
      <div><label>id: </label>{{person.id}}</div>
      <div>
        <label>name: </label>
        <input id="name" name="name" [(ngModel)]="person.name" placeholder="name"/>
        <input type="email" [(ngModel)]="person.email" placeholder="email"/>

        <select [(ngModel)]="person.status">
          <option [ngValue]=true>active</option>
          <option [ngValue]=false>inactive</option>
        </select>

        <input [(ngModel)]="person.phone" placeholder="phone"/>
        <input [(ngModel)]="person.mobile_phone" placeholder="mobile_phone"/>
      </div>

      <hr />
      <div *ngIf="courses" >
        <div *ngIf="courses.available.length" >
          
        course to add:
        <select [(ngModel)]="courseToAdd">
          <option *ngFor="let course of courses.available" [ngValue]="course">{{course.name}}</option>
        </select>
            <button class="add"
              (click)="subscribe(courseToAdd); $event.stopPropagation()">add</button>
        </div>

        <ul *ngIf="courses.applied.length" >
          <li *ngFor="let course of courses.applied">{{course.name}}
            <button class="delete"
              (click)="unsubscribe(course); $event.stopPropagation()">x</button>
          
          </li>
        </ul>
      </div>

      <hr />
<button (click)="goBack()">Back</button>
<button (click)="save()">Save</button>

    </div>
